<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Summaryzer</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>
    <!-- Navigation Section -->
    <div class="navbar-fixed">
        <nav class="grey darken-4" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="#" class="brand-logo">Meeting Summary</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{url_for('index')}}">Home</a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>
	<ul id="nav-mobile" class="sidenav">
        <li><a href="{{url_for('index')}}">Home</a></li>
    </ul>

    <!-- Meeting Information Section -->
    <section class="section section-solutions-about grey darken-2">
        <div class="container white-text">
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m6">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                        <h5 class="center"></h5>
                        <p>Meeting ID: <span style="color:#0091EA;">{{ conf_id }}</span></p>
                        <p class="light">Meeting Start Time: <span style="color:#0091EA;">{{ meeting_start_time }}</span></p>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                        <h5 class="center"></h5>
                        <p>Participants: <span style="color:#0091EA;">{{ participant_list }} </span></p>
                        <p>Summary Length: <span style="color:#0091EA;">{{ sum_len }}</span></p>
                        <a href="https://ltbbb1.informatik.uni-hamburg.de/html5client_soniya/summarize/getPDF">
                            <img src="static/images/pdficon.png" height="20px" width="20px"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Summary Section -->
    <section class="section section-solutions-about grey darken-2">
        <div class="container white-text">
            <!--   Icon Section   -->
            <div class="row">
                <div class="input-field col s12 m10">
                    <div class="icon-block">
                        <!--<h2 class="center brown-text"><i class="material-icons">chrome_reader_mode</i></h2>-->
                        <form >
                            <!--<textarea name="rawtext" cols="3" rows="5" class="form-control" required="true" placeholder="Enter Text Here"></textarea>-->
                            <br/>
                            <!--<button class="btn btn-small waves-effect waves-light light-blue lighten-1" type="reset">Clear</button>-->
                            <a href="https://ltbbb1.informatik.uni-hamburg.de/html5client_soniya/summarize/refresh">
                                <button id="btn_refresh" class="btn btn-small waves-effect waves-light purple lighten-1" type="submit">Refresh</button>
                            </a>
                            <a href="https://ltbbb1.informatik.uni-hamburg.de/html5client_soniya/summarize/newroute">
                                <button id="btn_refresh" class="btn btn-small waves-effect waves-light purple lighten-1" type="submit">Check Again</button>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        <div class="row">
         
            <!--<div class="col s12 m6 grey darken-3">-->
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">chrome_reader_mode</i></h2>
                    <h5 class="center">Summarized Conversation</h5>
                    <div class="" role="alert"></div>
                    <p id="txt_summary" class="light">{{ final_summary }}</p>
                    <!--<div id="target_div">Watch this space...</div>-->
                </div>
            <!--</div>-->
        </div>
        </div>
    </section>

    <!-- Footer Section -->
    <footer class="page-footer grey darken-4">
        <div class="container" id="aboutapp">
            <div class="row"></div>
        </div>
        <div class="footer-copyright">
            <div class="container">
            <a class="white-text text-lighten-3" href="">Summurization Feature - WILPS project - Language Technology - Hamburg University</a><br/>
            <a class="white-text text-lighten-3" href="">by Soniya Vijayakumar</a>
        </div>
        </div>
  </footer>


  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  
</body>
</html>